<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="msec.personify">
			<section name="personifySso" type="Msec.Personify.Configuration.PersonifySsoConfigurationSection, Msec.Personify, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fc79a8b777a0b65c" />
			<section name="personifyUniversal" type="Msec.Personify.Configuration.PersonifyUniversalConfigurationSection, Msec.Personify, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fc79a8b777a0b65c" />
			<section name="personifyIM" type="Msec.Personify.Configuration.PersonifyIMConfigurationSection, Msec.Personify, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fc79a8b777a0b65c" />
			<section name="upaSync" type="Msec.Personify.UpaSyncService.UpaSyncConfigurationSection, Msec.Personify.UpaSyncService" />
		</sectionGroup>
	</configSections>

	<msec.personify>
		<!-- DEV -->
		<personifySso serviceUrl="http://dev-my.msec.org/SSO/webservice/service.asmx" loginPageUrl="http://dev-my.msec.org/SSO/login.aspx" vendorIdentifier="7" vendorUserName="TIMSS" vendorPassword="10BB61615AF73164F1F9B9AC9655439C" vendorBlock="3E918C58FB082D1B168F0D2B38830F38" />

		<personifyUniversal serviceUrl="http://dev-my.msec.org/DataServices/PersonifyDataMSEC.svc" userName="webuser" password="webuser2013" />

		<personifyIM serviceUrl="http://dev-my.msec.org/IMS/IMService.asmx" vendorUserName="TIMSS" vendorPassword="10BB61615AF73164F1F9B9AC9655439C" />

		<upaSync sleepTimeout="0:00:30.000"
				 timeOfDayToRun="1:00:00.000"
				 accountNamePrefix="i:0#.f"
				 membershipProviderName="msecpersonifymembershipprovider"/>
	</msec.personify>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	
	<system.diagnostics>
		<sharedListeners>
			<add name="TextFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\Msec.UpaSync.log" />
			<add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
		</sharedListeners>
		<sources>
			<source name="MSEC" switchName="Msec.Diagnostics.SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="TextFileListener" />
					<add name="ConsoleListener" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="Msec.Diagnostics.SourceSwitch" value="Verbose" />
		</switches>
		<trace autoflush="true">
			<listeners>
				<add name="TextFileListener" />
				<add name="ConsoleListener" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
