<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="msec.personify">
			<section name="personifySso" type="Msec.Personify.Configuration.PersonifySsoConfigurationSection, Msec.Personify" />
			<section name="personifyUniversal" type="Msec.Personify.Configuration.PersonifyUniversalConfigurationSection, Msec.Personify" />
			<section name="upaSync" type="Msec.Personify.UpaSyncService.UpaSyncConfigurationSection, Msec.Personify.UpaSyncService" />
		</sectionGroup>
	</configSections>

	<msec.personify>
		<!-- DEV -->
		<!--<personifySso loginPageUrl="http://pers731.msec.org/PersonifySSO/login.aspx"
					  vendorIdentifier="12"
					  vendorUserName="sharepoint_user"
					  vendorPassword="0592C289DE342B46A0B7A0B4AF7DC082"
					  vendorBlock="7ADD13BC78FC44170F4266493BB0EAAE"/>
		<personifyUniversal serviceUrl="http://pers731.msec.org/PersonifyWebService/UniversalWebService/default.asmx"
							userName="webservice"
							password="ghoiux9769"
							organizationId="MSEC"
							organizationUnitId="MSEC"/>-->
		
		<!-- PROD -->
		<personifySso loginPageUrl="http://apps.msec.org/PersonifySSO/login.aspx" serviceUrl="http://apps.msec.org/PersonifySSO/WebService/Service.asmx" vendorIdentifier="12" vendorUserName="sharepoint_user" vendorPassword="0592C289DE342B46A0B7A0B4AF7DC082" vendorBlock="7ADD13BC78FC44170F4266493BB0EAAE"/>
		<personifyUniversal serviceUrl="http://apps.msec.org/PersonifyWebService/UniversalWebService/default.asmx" userName="webservice" password="ghoiux9769" organizationId="MSEC" organizationUnitId="MSEC"/>
		
		<upaSync sleepTimeout="0:00:30.000"
				 timeOfDayToRun="1:00:00.000"
				 accountNamePrefix="i:0#.f"
				 membershipProviderName="personifymembershipprovider"
				 batchSize="10"
				 maximumRecords="10000"/>
	</msec.personify>

	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	
	<system.diagnostics>
		<sharedListeners>
			<add name="TextFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\Msec.UpaSync.log" />
			<add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
		</sharedListeners>
		<sources>
			<source name="MSEC" switchName="Msec.Diagnostics.SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
				<listeners>
					<add name="TextFileListener" />
					<add name="ConsoleListener" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="Msec.Diagnostics.SourceSwitch" value="Verbose" />
		</switches>
		<trace autoflush="true">
			<listeners>
				<add name="TextFileListener" />
				<add name="ConsoleListener" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
