<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PersonifyAssemblyName" value="Msec.Personify, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fc79a8b777a0b65c"/>
		<add key="MembershipProviderName" value="MsecPersonifyMembershipProvider"/>
		<add key="RoleManagerProviderName" value="MsecPersonifyRoleProvider"/>
		<add key="SsoServiceUrl" value="http://dev-my.msec.org/SSO/webservice/service.asmx"/>
		<add key="SsoLoginPageUrl" value="http://dev-my.msec.org/SSO/login.aspx"/>
		<add key="SsoVendorIdentifier" value="7"/>
		<add key="SsoVendorUserName" value="TIMSS"/>
		<add key="SsoVendorPassword" value="10BB61615AF73164F1F9B9AC9655439C"/>
		<add key="SsoVendorBlock" value="3E918C58FB082D1B168F0D2B38830F38"/>
		<add key="UniversalServiceUrl" value="http://dev-my.msec.org/DataServices/PersonifyDataMSEC.svc"/>
		<add key="UniversalUserName" value="webuser"/>
		<add key="UniversalPassword" value="webuser2013"/>
		<add key="IMServiceUrl" value="http://dev-my.msec.org/IMS/IMService.asmx"/>
		<add key="IMVendorUserName" value="TIMSS"/>
		<add key="IMVendorPassword" value="10BB61615AF73164F1F9B9AC9655439C"/>
	</appSettings>
</configuration>
