<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="msec.personify">
			<section name="personifySso" type="Msec.Personify.Configuration.PersonifySsoConfigurationSection, Msec.Personify, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fc79a8b777a0b65c" />
			<section name="personifyUniversal" type="Msec.Personify.Configuration.PersonifyUniversalConfigurationSection, Msec.Personify, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fc79a8b777a0b65c" />
			<section name="upaSync" type="Msec.Personify.UpaSyncService.UpaSyncConfigurationSection, Msec.Personify.UpaSyncService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=fc79a8b777a0b65c" />
		</sectionGroup>
	</configSections>

	<msec.personify>
		<personifySso loginPageUrl="https://msec.ebiz.uapps.net/Login/Login.aspx"
					  serviceUrl="https://msec.ebiz.uapps.net/login/webservice/service.asmx"
					  vendorIdentifier="11"
					  vendorUserName="sharepoint"
					  vendorPassword="CFC06E2A446F589F2A2D9280242289AD"
					  vendorBlock="38859643683CCF5A8B7244CDA5845588"/>
		<personifyUniversal serviceUrl="http://msec.ebiz.uapps.net/PersonifyWebService/UniversalWebService/default.asmx"
							userName="badges"
							password="UYH81%vj"
							organizationId="MSEC"
							organizationUnitId="MSEC"/>
		<upaSync sleepTimeout="0:00:30.000"
				 timeOfDayToRun="1:00:00.000"
				 accountNamePrefix="i:0#.f"
				 membershipProviderName="personifymembershipprovider"
				 batchSize="100"
				 maximumRecords="1000000"/>
	</msec.personify>
</configuration>