<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Msec.Personify.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Msec.Personify.Properties.Settings>
            <setting name="Ilta_Personify_ImsWebService_IMService" serializeAs="String">
                <value>http://msec.ebiz.uapps.net/PersonifyIMSWebService/IMService.asmx</value>
            </setting>
            <setting name="Ilta_Personify_OrganizationId" serializeAs="String">
                <value>MSEC</value>
            </setting>
            <setting name="Ilta_Personify_OrganizationUnitId" serializeAs="String">
                <value>MSEC</value>
            </setting>
            <setting name="Ilta_Personify_PersonifySso_service" serializeAs="String">
                <value>https://msec.ebiz.uapps.net/login/webservice/service.asmx</value>
            </setting>
            <setting name="Ilta_Personify_Services_UniversalWebServiceImpl_PersonifyWebService"
                serializeAs="String">
                <value>http://msec.ebiz.uapps.net/PersonifyWebService/UniversalWebService/default.asmx</value>
            </setting>
            <setting name="Awwa_Personify_ImsWebService_IMService" serializeAs="String">
                <value>http://msec.ebiz.uapps.net/PersonifyIMSWebService/IMService.asmx</value>
            </setting>
            <setting name="Awwa_Personify_PersonifySso_service" serializeAs="String">
                <value>https://msec.ebiz.uapps.net/login/webservice/service.asmx</value>
            </setting>
        </Msec.Personify.Properties.Settings>
    </applicationSettings>
</configuration>