<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Msec.WebServiceInvoker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<applicationSettings>
		<Msec.WebServiceInvoker.Properties.Settings>
   <setting name="Msec_WebServiceInvoker_Services_ImsWebServiceImpl_IMService"
    serializeAs="String">
    <value>http://dev-my.msec.org/IMS/IMService.asmx</value>
   </setting>
   <setting name="Msec_WebServiceInvoker_Services_PersonifySsoServiceImpl_service"
    serializeAs="String">
    <value>http://dev-my.msec.org/SSO/webservice/service.asmx</value>
   </setting>
   <setting name="Msec_WebServiceInvoker_Services_UniversalWebServiceImpl_PersonifyWebService"
    serializeAs="String">
    <value>http://dev-my.msec.org/PersonifyWebService/UniversalWebService/default.asmx</value>
   </setting>
  </Msec.WebServiceInvoker.Properties.Settings>
	</applicationSettings>
</configuration>
